<style>
 .rside {
     float: right;
     clear: both;
 }
</style>


<div class="ui grid container">
    <div class="row">
	<div class="four wide mobile only column">
	    <%= image_tag "matthew", class: "ui circular medium image" %>
	</div>

	<div class="four wide tablet computer only column">
 	    <%= image_tag "matthew", class: "ui fluid image" %>
	   
	    <div class="ui segments">
		<div class="ui top attached message">
		    Verified Info
		</div>
		<div class="ui left aligned segment">
		    <i class="user icon"></i>  <p> hello world </p> 
		</div>
		<div class="ui segment">
		    <p> hello world </p>
		</div>
		<div class="ui segment">
		    <p> hello world </p>
		</div>
	    </div>
	    
	    <h3 class="ui dividing header">About me</h3>
	    <p> Hello, My name is Matthew and I like to play baseball </p>
	</div>

	<div class="ten wide column">
	    <h1 class="ui header"> Hello, I am Kelvin! </h1>
	    <p> Yaba, Lagos, Nigeria - Joined in June 2016 </p>
	</div>
    </div>
    <div class="row">
	<div class="four wide column">
	    <p> Listings </p>
	    <div class="ui small images">
		<%= image_tag "matthew", class: "ui medium image" %>
		<%= image_tag "matthew", class: "ui medium image" %>
		<%= image_tag "matthew", class: "ui medium image" %>
		<%= image_tag "matthew", class: "ui medium image" %>
	    </div>
	</div>

	<div class="twelve wide column">
	    <p> Reviews </p>
	    
	    <div class="ui divided relaxed items">
		<div class="item">
		    <a class="ui tiny circular image">
			<%= image_tag "stevie" %>
		    </a>
		    <div class="content">
			<a class="header">Stevie Feliciano</a>
			<div class="description">
			    <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
			</div>
		    </div>
		</div>
		<div class="item">
		    <a class="ui tiny circular image" >
			<%= image_tag "veronika" %>
		    </a>
		    <div class="content">

			<a class="header">Veronika Ossi</a>
			<div class="description">
			    <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.</p>
			</div>
		    </div>
		</div>
		<div class="item">
		   <a class="ui tiny circular image">
			<%= image_tag "jenny" %>
		   </a>
		   <div class="content">

			<a class="header">Jenny Hess</a>
			<div class="description">
			    <p>Jenny is a student studying Media Management at <a>the New School</a>.</p>
			</div>
			<div> 

			</div>
		    </div>
		</div>
	    </div>
	    
	</div>
	
    </div>
</div>
