
<%= render 'layouts/activate_account_flash' %>
<div class="ui stackable computer only grid container">
    <div class="ui stackable text menu">
	<div class="ui container">
	    <a class="item" href="/">
		<div class="ui segment">
		    <i class="big yahoo icon" style="color: #fd5c63"> </i>
		</div>
	    </a>	
	    
	    <a class="right item rental" onClick='pictureProfile()' >
		Rentals
	    </a>
	    <a class="item" onClick='showPhoneStep()'>
		Services 
	    </a>
	    <a class="ui teal button item" href="/items/new">
		Enlist
	    </a>
	    <a class="ui teal button item" href="/help">
		Help
	    </a>
	    <a class="item navSignup" onClick='signup()' >
		Sign up
	    </a>
	    <a class="item navLogin" onClick='login()'>
		Login
	    </a>
	    <a class="item navLogout"  onClick='signOut()' style="display: none">
		Logout
	    </a>
	</div>
    </div>
</div>

<%= render 'layouts/after_signup/picture_profile' %>
<%= render 'layouts/password_recovery' %>
<%= render 'layouts/list_rental' %>
<%= render 'layouts/list_service' %>
<%= render 'layouts/login' %>
<%= render 'layouts/signup' %>

<%= render 'layouts/after_signup/accept_terms' %>
<%= render 'layouts/after_signup/confirm_email' %>
<%= render 'layouts/after_signup/phone_number' %>
<%= render 'layouts/after_signup/picture_profile' %>
<%= render 'layouts/after_signup/thank_you' %>
