<div class="ui stackable computer only grid container">
    <div class="ui stackable text menu">
	<div class="ui container">
	    <a class="item" href="/" data-turbolinks="false">
		<div class="ui segment">
		    <i class="big yahoo icon" style="color: #fd5c63"> </i>
		</div>
	    </a>
	    <div class="right item rental">
		<div class="ui floating top right pointing labeled icon dropdown">
		    Categories
		    <i class="angle down icon"></i>
		    <div class="ui menu">
			<a class="item"  href="">
			    Weddings
			</a>
			<a class="item"  href="" >
			    Meetups
			</a>
			<a class="item"  onClick="" >
			    Training
			</a>
			<a class="item"  onClick="" >
			    Out Door Event
			</a>
			<a class="item"  onClick="" >
			    Art Display
			</a>
			<a class="item"  onClick="" >
			    Workshops
			</a>
			<a class="item"  onClick="" >
			    Birthday Parties
			</a>
			<a class="item"  onClick="" >
			    Lunch Parties
			</a>
			<a class="item"  onClick="" >
			    Networking Events
			</a>
			<a class="item"  onClick="" >
			    Photo & Film Shoot
			</a>
		    </div>
		</div>
	    </div>
	    <div class="item"> 
		<div class="ui fluid floating top right pointing labeled icon dropdown">
		    List Your Space
		    <i class="angle down icon"></i>
		    <div class="ui menu">
			<a class="item" href="/items/new">
			    Start
			</a>
			<a class="item" href="/items/new">
			    Why List my Space
			</a>
		    </div>
		</div>
	    </div>
	    <a class="ui item" href="/help">
		Help
	    </a>
	    <a class="item navSignup" onClick="signup()" >
		Sign up
	    </a>
	    <a class="item navLogin" onClick="login()" >
		Login
	    </a>
	    <div class="item navLogout" style="display:none">
		<div class="ui floating top right pointing labeled icon dropdown">
		    <div class="ui mini circular image">
			<img src="/assets/matthew"> 
		    </div>
		    <div class="ui menu">
			<a class="item"  href="/profiles">
			    Profile
			</a>
			<a class="item"  href="/profiles/user" >
			    View Profile
			</a>
			<a class="item"  onClick="signOut()" >
			    Logout
			</a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>

<%= render 'layouts/after_signup/picture_profile' %>
<%= render 'layouts/password_recovery' %>
<%= render 'layouts/list_rental' %>
<%= render 'layouts/list_service' %>
<%= render 'layouts/login' %>
<%= render 'layouts/signup' %>

<%= render 'layouts/after_signup/accept_terms' %>
<%= render 'layouts/after_signup/confirm_email' %>
<%= render 'layouts/after_signup/phone_number' %>
<%= render 'layouts/after_signup/picture_profile' %>
<%= render 'layouts/after_signup/thank_you' %>
