<!DOCTYPE html>
<html>
  <head>
    <title>Home | Airtoast.co</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%#= javascript_pack_tag 'jquery' %>
    <%= stylesheet_pack_tag 'semantic' %>
    <%= javascript_pack_tag 'semantic' %>
    <%#= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'slick-carousel' %>
    <%= javascript_pack_tag 'slick-carousel' %>

  </head>

  <body>
      
      <div class="context example">
	  <div class="ui top attached demo mobile tablet only grid menu">

	      <a class="item" href="/">
		      <i class="big yahoo icon" style="color: #fd5c63"> </i>
	      </a>	
	      <a class="right item">
		  <i class="sidebar icon"></i>
	      </a>
	  </div>
	  <div class="ui bottom attached segment"> 
	      <%= render 'layouts/mobile_topnav' %>
	      <%= render 'layouts/flash_messages' %>
	      <%= render 'layouts/topnav' %>
	      

	      <div class="pusher" style="padding-bottom: 2em;">
		  <%= yield %>
	      </div>
	  </div>
      </div>

      <%= render 'layouts/footnav' %>

  </body>
</html>


<script>
 $('.context.example .ui.sidebar')
     .sidebar({
	 context: $('.context.example .bottom.segment'),
	 transition: 'overlay'
     })
     .sidebar('attach events', '.context.example .menu.mobile .item  ')
 ;
</script>
